/* .site-heading {
    background: white url("images/example2.jpg") no-repeat;
    width: 900px;
    height: 200px;
    color: white;
    margin-right: 20px;
    
} */
#welcome{
    color: white;
}
#enjoy{
    color: white;
}